* {
    margin: 0;
    padding: 0;
}

:root {
    --color-one: #B5C0D0;
    --color-two: #CCD3CA;
    --color-three: #F5E8DD;
    --color-four: #EED3D9;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-one);
}

#heading {
    text-align: center;
}

#buttons {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btn {
    width: 241px;
    height: 50px;
    background-color: var(--color-three);
}

#mainContainer {
    width: 520px;
    height: 520px;
}

#gridContainer {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;
}

.column {
    border: solid 1px var(--color-one);
    background-color: var(--color-four);
    width: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.row {
    border: solid 1px var(--color-one);
    width: inherit;
    flex-grow: 1;
}

/* TO DO
    1. change fonts.
    2. resize fonts.
    3. add hover effects to buttons.
*/