* {
    margin: 0;
    padding: 0;
}

:root {
    --line-color: black;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#heading {
    text-align: center;
}

#buttons {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btn {
    width: 241px;
    height: 50px;
}

#mainContainer {
    border: solid 1px var(--line-color);
    width: 520px;
    height: 520px;
}

#gridContainer {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;
}

.column {
    border: solid 1px var(--line-color);
    width: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.row {
    border: solid 1px var(--line-color);
    width: inherit;
    flex-grow: 1;
}
